body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(204, 204, 204, 0.24);
}

.chat-container{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    background-color: transparent;
}
.chat-window-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 450px;
    height: 85vh;
    background-color: rgba(204, 204, 204, 0.24);
    border-radius: 16px 16px 0 0;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform-origin: bottom right;
    transform: scale(0.2) translate(50%, 50%);
    opacity: 0;
    animation: openGrow 0.5s ease forwards;
}

button {
    font-family: inherit;
    border-radius: 100%;
    padding: 0;
    margin: 0;
}

input {
    font-family: inherit;
    background-color: rgba(204, 204, 204, 0.24);
    width: 100%;
}

@keyframes openGrow {
    to {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }
}

.chat-window-container.closing {
    animation: closeShrink 0.35s ease forwards;
}

@keyframes closeShrink {
    0% {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: scale(0.2) translate(50%, 50%);
        opacity: 0;
    }
}


/* HEADER */
.chat-header {
    height: 30px;
    background: #C5203F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    color: white;
    border-bottom: 3px solid #c6cac6;
}

.chat-header-icons {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header-icon {
    font-size: 20px;
    cursor: pointer;
    align-items: center;
    margin-right: 10px;
}

.header-icon-btn {
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 50px;
    margin-left: 0;
}

.header-icon-1 {
    font-size: 30px;
    cursor: pointer;
}

.gilead-logo {
    height: 28px;
}

.close-chat-btn {
    border: none;
    background: transparent;
    font-size: 22px;
    cursor: pointer;
    color: white;
}

/* WELCOME BANNER */
.welcome-banner {
    display: flex;
    padding: 0px;
    border: 10px solid white;
    margin-right: 0px;
    margin-left: 0px;
    gap: 16px;
}

.banner-avatar {
    max-width: 100%;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    padding-bottom: 0;
}

.banner-text h3 {
    font-size: 18px;
    margin: 0;
    color: #b11117;
}

.banner-text p {
    margin: 6px 0 0;
}

/* DIVIDER */
.divider {
    border: none;
    border-top: 1px dashed #c6cac6;
}

/* CHAT BODY */
.chat-body {
    padding: 16px;
    flex: 1;
    overflow-y: auto;
    background: white;
}

.bot-row {
    justify-content: flex-start;
}

.user-row {
    justify-content: flex-end;
}

.timestamp {
    margin-top: 8px;
    font-size: 12px;
    color: gray;
}

/* INPUT */
.chat-input {
    display: flex;
    padding: 7px;
    background: white;
    gap: 10px;
    align-items: center;
    border-top: 3px solid #c6cac6;
}

#chatInput {
    flex: 1;
    padding: 12px 16px;
    font-size: 15px;
    background-color: rgba(204, 204, 204, 0.44);
    border-radius: 5px;
    border: none;
    margin: auto;
}

#chatInput:focus {
    outline: none !important;   /* Hard remove */
    box-shadow: none !important; /* Removes glow or border highlight */
}

.chat-input input {
    flex: 1;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.send-btn {
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    background: #bbb;   /* inactive */
    transition: background 0.2s ease;
}

.send-btn.active {
    background: #000;
    cursor: pointer;
}

/* Active + Hover = red */
.send-btn.active:hover {
    background: #C5203F;
}

/* FOOTER */
.chat-footer {
    background: #C5203F;
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer-caret {
    font-size: 30px;
    padding: 0;
    margin: 0px 0px 0px 15px;
}