body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(204, 204, 204, 0.24);
}

.chat-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    background-color: transparent;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: bottom right;
}

.chat-container.is-visible {
    opacity: 1;
    transform: scale(1) translateY(0);
    pointer-events: auto;
}

.chat-container.is-hidden {
    transform: scale(0) translate(50%, 50%);
    pointer-events: none;
}

.chat-container.is-minimized .chat-window-container {
    width: 482px;
    height: 88vh;
}

.chat-container.is-maximized .chat-window-container {
    width: 737px;
    height: 90vh;
}

.chat-window-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(204, 204, 204, 0.24);
    border-radius: 16px 16px 0 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform-origin: bottom right;
    transform: scale(0.2) translate(50%, 50%);
    opacity: 0;
    animation: openGrow 0.5s ease forwards;
    max-width: 90vw;
    max-height: 80vh;
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

button {
    font-family: inherit;
    border-radius: 100%;
    padding: 0;
    margin: 0;
}

input {
    font-family: inherit;
    background-color: rgba(204, 204, 204, 0.24);
    width: 100%;
    color: black;
}

@keyframes openGrow {
    to {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }
}

.chat-window-container.closing {
    animation: closeShrink 0.35s ease forwards;
}

@keyframes closeShrink {
    0% {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: scale(0.2) translate(50%, 50%);
        opacity: 0;
    }
}

.welcome-banner {
    display: flex;
    padding: 0px;
    border: 10px solid white;
    margin-right: 0px;
    margin-left: 0px;
    gap: 16px;
}

.banner-avatar {
    max-width: 100%;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    padding-bottom: 0;
}

.banner-text h3 {
    font-size: 18px;
    margin: 0;
    color: #b11117;
}

.banner-text p {
    margin: 6px 0 0;
}

.divider {
    border: none;
    border-top: 1px dashed #c6cac6;
}

.chat-body {
    padding: 16px;
    flex: 1;
    overflow-y: auto;
    background: white;
    transition: padding 0.4s ease;
}

.bot-row {
    justify-content: flex-start;
}

.user-row {
    justify-content: flex-end;
}

.timestamp {
    margin-top: 8px;
    font-size: 12px;
    color: gray;
}

.chat-input {
    display: flex;
    padding: 7px;
    background: white;
    gap: 10px;
    align-items: center;
    border-top: 3px solid #c6cac6;
}

#chatInput {
    flex: 1;
    padding: 12px 16px;
    font-size: 15px;
    background-color: rgba(204, 204, 204, 0.44);
    border-radius: 5px;
    border: none;
    margin: auto;
}

#chatInput:focus {
    outline: none !important;
    box-shadow: none !important;
}

.chat-input input {
    flex: 1;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.send-btn {
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bbb;
    transition: background 0.2s ease;
}

.send-btn.active {
    background: #000;
    cursor: pointer;
}

.send-btn.active:hover {
    background: #C5203F;
}

.footer-caret {
    font-size: 30px;
    padding: 0;
    margin: 0px 0px 0px 15px;
}

.suggested-actions-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding: 0px 0 10px 1px
}

.suggested-action-btn {
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    outline: none !important;
    box-shadow: none !important;
}

.suggested-action-btn:hover {
    border: 1px solid #C5203F;
    background-color: #C5203F;
    color: white;
}