.chat-header {
    height: 50px;
    background: #C5203F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    color: white;
    border-bottom: 3px solid #c6cac6;
    border-radius: 16px 16px 0 0;
    flex-shrink: 0;
    z-index: 11;
}

.chat-header-left {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header-action-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: opacity 0.2s ease;
}

.header-action-icon:hover {
    opacity: 0.7;
}

.chat-header-center {
    flex: 1;
    display: flex;
    justify-content: center;
    /* Adjust margin to center logo relative to the icons */
    margin-right: 25px;
}

.gilead-logo {
    height: 28px;
}

.chat-header-right {
    display: flex;
    justify-content: flex-end;
}