.msg-row {
    display: flex;
    align-items: flex-start;
    gap: 3px;
    margin-top: 2px;
}

.msg-avatar {
    width: 36px;
    border-radius: 80%;
    background: #3C587F;
    padding: 2px 0 0 0;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.msg-bubble {
    background: white;
    padding: 10px;
    margin-left: 8px;
    font-size: 17px;
    border-radius: 0 12px 12px 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px 0;
    margin-bottom: 12px;
    font-family: "Open Sans", sans-serif;
}

.bot-bubble {
    display: inline-block;
    margin-inline-start: 5px;
    /*background: white; !*for hcp bot*!*/
    background: #F4F4F4;
    color: #1E1E1E;
    font-size: 17px;
    border-top-left-radius: 2px;
    /*font-family: "Open Sans", sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #dedede;
    border-start-start-radius: 0;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    width: fit-content;
}

.user-bubble {
    /*background-color: #c5203f; !*for hcp bot*!*/
    /*color: white; !*for hcp bot*!*/
    background-color: #3C587F;
    color: #FFFFFF;
    text-align: start;
    border-start-start-radius: 10px;
    border-start-end-radius: 0;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    /*font-family: "Open Sans", sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    width: fit-content;
    max-width: 100%;
    margin-left: auto;
    word-wrap: break-word;
    padding: 5px 14px 1px 14px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px 0;
}

.msg-bubble p {
    margin: 0 0 8px 0;
}

.msg-bubble p:last-child {
    margin-bottom: 0;
}

.msg-bubble ul,
.msg-bubble ol {
    margin: 5px 0 5px 20px;
    padding: 0;
}

.msg-bubble li {
    margin-bottom: 4px;
}

.user-bubble a {
    color: white;
    text-decoration: underline;
}

.bot-bubble a {
    color: #1ea2f5;
    font-weight: normal;
    text-decoration: none;
    background-color: transparent;
}

.bot-bubble a:hover {
    text-decoration: underline;
}

.msg-time {
    font-size: 12px;
    color: rgba(100, 91, 91, 0.78);
    margin-left: 5px;
}

.bot-row.bot-no-avatar .msg-content-wrapper {
    margin-left: 36px;
}

.user-row .msg-content-wrapper {
    margin-top: 7px;
    margin-left: 50px;
}