.welcome-bubble {
    position: fixed;
    bottom: 130px;
    right: 20px;
    background: white;
    padding: 16px 20px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.35s ease;
    z-index: 1200;
    pointer-events: none;
    border: 1px solid #c6cac6;
    cursor: pointer;
}

.welcome-bubble.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.welcome-close {
    position: absolute;
    top: -35px;
    right: 2px;

    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 3px solid white;
    background: white;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(0.8);
    transition: opacity 0.35s ease, transform 0.15s ease;
}

.welcome-close::before,
.welcome-close::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: #e53935;
}

.welcome-close::before {
    transform: rotate(45deg);
}

.welcome-close::after {
    transform: rotate(-45deg);
}

.welcome-wrapper.show .welcome-close {
    opacity: 1;
    transform: scale(1);
}

.welcome-close:hover {
    border: 1px solid rgba(128, 129, 128, 0.71);
    transform: translate(1px, 1px) scale(0.8);
    box-shadow: 0 6px 14px rgba(0,0,0,0);
}

.welcome-bubble p {
    margin: 0;
    font-size: 14px;
    color: black;
    line-height: 1.4;
    padding-right: 18px;
}
